body{
    margin: 0px;
}
header{
    height: 70px;
    width: 100%;
    border: 2px solid black;
    position: relative;
    display: flex;
    align-items: center;
}
.logo{
    width: 200px;
}
#menu{
    position: absolute;
    right: 10px;
}