body{
    background-color: black;
    margin:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    width: 1440px;
    height: 3977px;
    border:1px solid red;
}
main{
    width: 1440px;
}
.block1{
    width: 1440px;
    height: 782px;
    background-color: white;
}
.nav{
    width:1440px;
    height: 150px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 158px;
    height: 76px;
    margin-top:38px;
    margin-left: 96px;
}
.menu{
    width: 604px;
    height: 37px;
    border: 1px solid blue;
    margin-right:96px;
    margin-top:50px;
}